@media (max-width: 1150px) {
  .card {
    min-width: 70%;
    flex-wrap: wrap;
    min-height: 28vh;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .trans {
    width: 20%;
    transform: skewX(-45deg);
  }
  .container {
    width: 100%;
  }

  .head {
    width: 80%;
  }

  .head h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  main,
  .cards {
    width: 96%;
  }

  .cards {
    gap: 0.5rem;
    overflow: auto;
  }

  nav {
    display: flex;
    justify-content: center;
    width: 96%;
  }

  .btn {
    min-width: 15%;
    padding: 0.8rem 0.8rem;
    font-size: 1rem;
  }

  .main-text {
    min-height: 20vh;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .para-first p:first-of-type {
    padding-right: 1rem;
  }

  .main-text .para-first {
    width: 100%;
  }

  .para {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    padding-left: 2.5rem;
  }

  .para-hide {
    display: flex;
  }

  .card {
    min-width: 100%;
    flex-wrap: nowrap;
    min-height: 28vh;
    flex-direction: column;
  }

  .card-txt {
    padding: 7rem 0.8rem 0 0.3rem;
    font-size: 1.3rem;
  }
}
