body {
  background: #e5e5e5;
}

.btn {
  min-width: 12%;
  margin: 3rem 0.5rem 3rem 0;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem 0.6rem;
  color: var(--main);
  border: none;
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.active,
.btn:hover {
  background: var(--main);
  color: #fff;
}

.descending {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.descend {
  background: #fff;
  min-width: 13%;
  border: none;
  padding: 0.6rem 0.5rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  color: var(--main);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
